.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.user-details-container {
  margin: 0 auto;
  margin-top: 8px;
  box-shadow: 0 0 15px #ccc;
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
li {
  list-style-type: none;
  width: 500px;
}
.info-data-styling {
  font-weight: 300;
}

.pagination {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
